# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [119]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats
from scipy.stats import norm, ttest_rel, ttest_1samp, ttest_ind, ttest_ind_from_stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [108]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [109]:
# Your code here:
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [110]:
# Your code here:
pokemon.groupby("Legendary").count()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,,,,
False,735,735,735,374,735,735,735,735,735,735,735,735
True,65,65,65,40,65,65,65,65,65,65,65,65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [111]:
# mean and standard deviation
        #legendary pokemon:
p_true = pokemon["Total"].loc[pokemon["Legendary"]==True]   

p_true_m = np.mean(p_true, axis=0)
        #non-legendary pokemon:
p_false = pokemon["Total"].loc[pokemon["Legendary"]==False]
p_false_m = np.mean(pokemon["Total"].loc[pokemon["Legendary"]==False], axis=0)

print( "Mean value is {} for legendary pokemon and {} for non-legendary ones".format(p_true_m, p_false_m))

Mean value is 637.3846153846154 for legendary pokemon and 417.21360544217686 for non-legendary ones

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [112]:
#samples do not have the same shape, as I have the original data as arrays, ttest_ind can be used ttest_ind:

ttest_ind(p_true,p_true, equal_var=False) , ttest_ind(p_true,p_false, equal_var=False)

 # p < 0.05  --> the difference is statistically significant, so alternative hypothesis is accepted:
                 # EVENTS ARE INDEPENDENT

(Ttest_indResult(statistic=0.0, pvalue=1.0),
 Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47))

What do you conclude from this test? Write your conclusions below.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [113]:
pokemon.head(2)
pokemon.groupby("Type 1").count()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

Write your conclusion below.

In [122]:
p_water_mean = np.mean(pokemon["Total"].loc[pokemon["Type 1"]=="Water"], axis=0)
p_d_water_mean = np.mean(pokemon["Total"].loc[pokemon["Type 1"]!="Water"], axis=0)

p_water,p_d_water

(430.45535714285717, 435.85901162790697)

In [123]:
arr_water = pokemon["Total"].loc[pokemon["Type 1"]=="Water"]
arr_d_water = pokemon["Total"].loc[pokemon["Type 1"]!="Water"]
ttest_ind(arr_water,arr_d_water, equal_var=True)
# Ho > dependant events
# as pvalue > threshold (0,05)  --> Ho is accepted   > DEPENDENT EVENTS

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

In [124]:
# As far a I had only the summary statistics of the two data sets, 
    #I could calculate the t value using scipy.stats.ttest_ind_from_stats 
    #gonna try and check if i get the same results

ttest_ind_from_stats(mean1=p_water_mean, std1=np.sqrt(np.var(arr_water)), nobs1=len(arr_water),     #sample mean, variance and size
                     mean2=p_d_water_mean, std2=np.sqrt(np.var(arr_d_water)), nobs2=len(arr_d_water))

# YES, I GOT THE SAME RESULTS BOTH WAYS

Ttest_indResult(statistic=-0.4423810933856031, pvalue=0.6583333307531565)

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [138]:
pokemon[["Attack","Defense"]].head(5)
# Ho:  defense and attack scores are equal
attack = pokemon["Attack"].tolist()
defense = pokemon["Defense"].tolist()

ttest_rel(attack,defense, axis=0)
# pvalue < 0,05  ->  null hypothesis is rejected

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [156]:
pokemon[["Sp. Atk","Sp. Def"]].head(5)
s_attack_mean = np.mean(pokemon["Sp. Atk"])
s_defense_mean = np.mean(pokemon["Sp. Def"])

s_attack = pokemon["Sp. Atk"].tolist()
s_defense = pokemon["Sp. Def"].tolist()

print(s_attack_mean, s_defense_mean, ttest_ind(s_attack,s_attack, equal_var=True), ttest_ind(s_attack,s_defense, equal_var=True))

#pvalue > threshold > INDEPENDENT EVENTS
#0,54 > 0,05

72.82 71.9025 Ttest_indResult(statistic=0.0, pvalue=1.0) Ttest_indResult(statistic=0.6041290031014401, pvalue=0.5458436328840358)

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [157]:
# Check if the difference is == 0 or != 0
ttest_1samp()

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: